extends layout

block content
  h1 Canvas Stamper
    span Please click the circle or square in the upper left to draw
  canvas#canv
  div.left
    label(for='width') Width:
    p
    input#width(type='number' value=50)
    p
    label(for='color') Color:
    p
    input#color(type='color' value="#76196f")
    p Shape:
    div#shape None selected
    p
    button#recolor(type='button') Recolor
    p
    button#random(type='button') Random Shapes
    p
    button#rain(type='button') Make it Rain!
    p
    button#disco(type='button') Seizure Mode
    p
    button#clear(type='button') Clear All
