doctype html
html
  head
    title Canvas Stamper
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    
    script(src="/javascripts/app.js")
    script(src="/javascripts/jscolor.js")